body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:780px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:313px;
  width:1594px;
  height:780px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:1590px;
  visibility:hidden;
  word-wrap:break-word;
}
