body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1048px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:118px;
  width:985px;
  height:153px;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:245px;
  height:30px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:241px;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:30px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:561px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:557px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:59px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:84px;
  height:59px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:59px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:30px;
  width:90px;
  height:59px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:59px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:30px;
  width:245px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:241px;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:59px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:30px;
  width:561px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:557px;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:59px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:84px;
  height:59px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:59px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:89px;
  width:90px;
  height:59px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:59px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:89px;
  width:245px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:241px;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:59px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:89px;
  width:561px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:557px;
  word-wrap:break-word;
}
