body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1048px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:118px;
  width:985px;
  height:153px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:245px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:241px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:561px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:557px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:59px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:84px;
  height:59px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:59px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:30px;
  width:90px;
  height:59px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:59px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:30px;
  width:245px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:241px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:59px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:30px;
  width:561px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:557px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:59px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:84px;
  height:59px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:59px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:89px;
  width:90px;
  height:59px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:59px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:89px;
  width:245px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:241px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:59px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:89px;
  width:561px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:557px;
  word-wrap:break-word;
}
